@use 'sass:map';
@use '@angular/material' as mat;

$typography-config: mat.get-typography-config($theme);

$base-font-style: body-2;

@function font-family($font-type: $base-font-style) {
  @return mat.font-family($typography-config, $font-type);
}

@function font-size($font-type: $base-font-style) {
  @return mat.font-size($typography-config, $font-type);
}

@function font-weight($font-type: $base-font-style) {
  @return mat.font-weight($typography-config, $font-type);
}

@function line-height($font-type: $base-font-style) {
  @return mat.line-height($typography-config, $font-type);
}

@function letter-spacing($font-type: $base-font-style) {
  @return mat.letter-spacing($typography-config, $font-type);
}

@function font(
  $font: $base-font-style,
  $font-size-override: null,
  $font-weight-override: null,
  $line-height-override: null,
  $font-family-override: null
) {
  $font-size: font-size($font) !default;
  $font-weight: font-weight($font) !default;
  $line-height: line-height($font) !default;
  $font-family: font-family($font) !default;

  @if $font-size-override != null {
    $font-size: $font-size-override;
  }

  @if $font-weight-override != null {
    $font-weight: $font-weight-override;
  }

  @if $line-height-override != null {
    $line-height: $line-height-override;
  }

  @if $font-family-override != null {
    $font-family: $font-family-override;
  }

  @return $font-weight #{$font-size}/#{$line-height} $font-family;
}
